/* #303030, #0C2D48, #2E8BC0, #B1D4E0, #043365*/
.grid_principal{
    display: grid;
    grid-template-areas: 
    "head head "
    "asid main "
    "foot foot ";
    grid-template-columns: 1fr 3fr;
    background-color: #303030;
    margin: 0;
    padding: 0;
    color: #B1D4E0;
}
.grid_h{
    grid-area: head;
    background-color: #043653;
}
.grid_a{
    grid-area: asid;
}
.grid_m{
    grid-area: main;
    background-color: #0c2d48;
}
.grid_f{
    grid-area: foot;
    margin: 0;
    padding: 0;
}
/* ----------------------------Header--------------------------------- */
.play{
    display: flex;
    align-items: center;
    padding-left: 5rem;
}
.play h1{
    padding-left: 10px;
    font-family: 'Carter One', cursive;
    color: #2E8BC0;
}
.play a{
    text-decoration:  none;
}
.play img{
    width: 5rem;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li {
    display: inline;
}
.carrinho{
    width: 4rem;
    filter: invert(100%);
}
.carrinho:hover{
    filter: invert(0%);
}
.usuario{
    display: flex;
    align-items: center;
    padding-right: 5rem;
    font-family: 'Quicksand', sans-serif;
}
.avatar_a{
    display: inline-flex;
    text-decoration: none;
    color: #B1D4E0 ;
}
.avatar_a:hover{
    text-decoration: underline;
}
.avatar{
    width: 4rem;
    height: auto;
    padding-left: 15px;
    padding-right: 5px;
}
.menu_mobile img{
    width: 4rem;
}
.menu_mobile{
    display: none;
}
@media (max-width: 900px) {
    header{
        display: flex;
        justify-content: space-around;
    }
    .play{
        padding: 0rem;
    }
    .menu_mobile{
        display: flex;
    }
}
/* ------------------------------------------header_mobile------------------------------------*/
.mobile{
    position: absolute;
    margin-top: -1rem;
    background-color: #043653;
    border-end-end-radius: 2rem;
    border: 5px solid #B1D4E0;
    border-top: none;
    border-left: none;
    padding: 1rem;
    left: -400px;
    transition: all 1s;
    font-family: 'Quicksand', sans-serif;
    display: flex;
}
#check_mob{
    display: none;
}
.menu_mobile input[type="checkbox"]:checked ~ nav{
    transform: translateX(400px);
}
.carrinho_mob{
    width: 4rem;
    filter: invert(100%);
}
.avatar_mob{
    width: 3rem;
    height: auto;
    margin-right: 0.3rem;
}
.mob_cadastro a{
    text-decoration: none;
    color: #B1D4E0;
}
.mob_cadastro a:hover{
    text-decoration: underline;
}
.mob_cadastro{
    display: flex;
    align-items: center;
}
.mob_cart{
    display: flex;
    justify-content: center;
}
/* ----------------------------Principal--------------------------------- */
main {
    padding: 2rem;
    box-shadow: 4px 4px 4px  #2E8BC0;
}
.games{
    width: 80rem;
    height: 30rem;
    animation: games_ani 20s infinite;
    background-size: 100%;
    border-radius: 3rem;
    border: 3px solid #B1D4E0;
}
@keyframes games_ani {
    0%{
        background-image: url(imagens/mudar5.jpg);
    }
    25%{
        background-image: url(imagens/mudar2.jpg);
    }
    50%{
        background-image: url(imagens/mudar.png);
    }
    75%{
        background-image: url(imagens/mudar3.jpg);
    }
    100%{
        background-image: url(imagens/mudar4.jpg);
    }
}
.produtos img{
    width: 15rem;
    height: 30rem;
    height: auto;
    border-radius: 1rem;
    display: block;
    margin: auto;
}
.produtos{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 1rem;
    font-family: 'Quicksand', sans-serif;
}
.itens{
    border: 5px solid black;
    border-radius: 1rem;
    color: white;
    padding: 7px;
    width: 16rem;
    height: 26rem;
    box-shadow: 4px 4px 4px  #2E8BC0;
}
.itens h4{
    padding-left: 0.4rem;
}
.itens h2, p{
    margin: 0;
}
.itens:hover{
    border: 5px solid #B1D4E0 ;
}
.produtos a{
    text-decoration: none;
    color: black;
}
.preco{
    color: #2E8BC0 ;
    text-shadow: 
    -1px -1px 0px black, 
    -1px 1px 0px black,      
     1px -1px 0px black,    
     1px 0px 0px black;
     padding-left: 9px;
}
@media (max-width: 1100px){
    .texto iframe{
        width: 100%;
    }
}
@media (max-width: 900px) {
    .produtos img{
        width: 100%;
    }
    .produtos{
        display: flex;
        justify-content: center;
    }
    .destaque{
        text-align: center;
    }
    .itens{
        height: 27rem;
    }
    aside{
        display: none;
    }
    .grid_principal{
        grid-template-areas: 
        " head head "
        " main main "
        " foot foot ";  
    }
    .usuario{
        display: none;
    }
    .games{
        display: none;
    }
}
@media (max-width: 1000px) {
    .games{
        display: none;
    }
    
}
@media (max-width: 900px){
    aside{
        display: none;
    }
    .grid_principal{
        grid-template-areas: 
        " head head "
        " main main "
        " foot foot ";  
    }
}
/* ----------------------------Aside--------------------------------- */
.lado{
    text-align: center;
    margin: 0rem 3rem 0rem 3rem;
    font-family: 'Quicksand', sans-serif;
}
.lado h2{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}
.lado a{
    color: #B1D4E0;
    text-decoration: none;
}
.lado img{
    width: 10rem;
    border-radius: 50%;
    margin-top: 5rem;
}
.lado h2:hover{
    background-color: #2E8BC0;
}
/* ----------------------------Footer--------------------------------- */
footer{
    background-color: #043653;
    color: #B1D4E0;
}
.footer{
    margin-bottom: 1rem;
}
.rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem;
}
.rodape h1{
    font-family: 'Carter One', cursive;
    font-size: 220%;
}
.rodape img{
    width: 8rem;
}
.contato{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #2E8BC0;
    padding: 5px;
}
.contato .img_ctt{
    filter: invert(100%);
    width: 2rem;
}
.contato .img_ctt:hover{
    filter: invert(0%);
}
.pagamento{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
.pagamento img{
    width: 5rem;
    background-color: #B1D4E0;
    border-radius: 5px;
    padding: 4px;
}
footer h3{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}
/* ----------------------------Pagina_Produto--------------------------------- */
.body_produto{
    display: grid;
    grid-template-areas: 
    " head "
    " main "
    " foot ";
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.pag_produtos{
    background-color: #0c2d48;
    box-shadow: none;
    color: #B1D4E0;
}
.produto_pg{
    background-color: #043653;
    margin: 0% 15% 0% 15%;
    padding: 1rem;
    border-radius: 5rem;
    box-shadow: 4px 4px 4px #2E8BC0;
    border: 1px solid #B1D4E0;
}
.produto_img{
    width: 25rem;
    border-radius: 2rem;
    margin-left: 4%;
}
.descricao{
    margin-left: 2rem;
    font-family: 'Quicksand', sans-serif;
}
.descricao h1, .descricao h2, .descricao h3{
    margin-bottom: 2rem;
}
.descricao h1{
    font-size: 38px;
}
.produto_flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}
.body_produto .genero{
    border: 2px solid #B1D4E0;
    margin-right: 1rem;
    border-radius: 5rem;
    padding: 0.5rem;
}
.botao_produto{
    margin-left: 50%;
    margin-right: 7%;
    text-align: center;
}
.botao_produto a{
    text-decoration: none;
    color: #B1D4E0;
}
#compre{
    border: 2px solid #B1D4E0 ;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: rgb(0, 116, 228);
}
#compre:hover{
    background-color: rgb(28, 149, 255);
    border: 2px solid black;
}
#carrinho{
    border: 2px solid #B1D4E0;
    padding: 1.5rem;
    border-radius: 1rem;
}
#carrinho:hover{
    background-color: #2e8bc05d;
    border: 2px solid black;
}
.texto{
    margin: 5%;
}
.texto iframe{
    display: block;
    margin: auto;
    border-radius: 1rem;
}
.requisitos{
    display: flex;
    flex-direction: row;
}
.requisitos b{
    font-weight: 100;
}
@media (max-width: 800px){
    .produto_pg{
        margin: 0% -6% 0% -6%;
        border: none;
        box-shadow: none;
    }
    .produto_img{
        display: block;
        margin: auto;
    } 
    .botao_produto{
        margin: 0;
    }
    .requisitos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}
@media (max-width: 1500px) {
    .produto_img{
        display: block;
        margin: auto;
    } 
    .botao_produto{
        margin: 0;
    }
}
@media (max-width: 550px){
    .dec_cate{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .genero{
        margin-bottom: 1rem;
    }
    .produto_img{
        width: 16rem;
    }
    .produto_pg{
        background-color: #0c2d48;
    }
    .texto iframe{
        display: block;
        margin: auto;
        border-radius: 1rem;
        height: 15rem;
        }
}
/* -------------------------------------cadastro---------------------------------- */
.body_form{
    background-color: #0c2d48;
    grid-template-areas: 
    "head head"
    "main main"
    "foot foot";
    color: #B1D4E0;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.form_pg{
    background-color: #043653;
    margin: 0% 15% 0% 15%;
    padding: 1rem;
    box-shadow: 4px 4px 4px #2E8BC0;
    border: 1px solid #B1D4E0;
    border-radius: 3rem;
}
.bloco_form input{
    padding: 0.5rem;
    width: 20rem;
    border-radius: 0.7rem;
    background-color: #303030;
    color: #B1D4E0;
    font-size: 90%;
    outline: 2px solid #2E8BC0;
}
.bloco_form input:hover{
    background-color: #3b3b3b;
}
.form_pg h1{
    text-align: center;
}
.form{
    font-size: 120%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 0 10% 0 10%;
}
.enviar_form button{
    padding: 0.5rem;
    background-color: #303030;
    font-size: 100%;
    border: 3px solid #B1D4E0;
    color: #B1D4E0;
    border-radius: 0.7rem;
    margin-top: 2rem;
    margin-left: 73%;
}
.enviar_form button:hover{
    cursor: pointer;
    border: 3px solid #2e8bc0;
}
.main_form{
    box-shadow: none;
}
.bloco_form{
    display: flex;
    flex-direction: column;
}
.form label{
    margin-bottom: 0.3rem;
}
.form_pg img{
    width: 7rem;
    display: block;
    margin: auto;
}
@media (max-width: 900px){
    .form_pg{
        box-shadow: none;
        border: none;
        background-color: #0c2d48;
    }
    .enviar_form button{
        display: block;
        margin: auto;
        margin-top: 2rem;
    }
    .form{
        margin-left: 2rem;
    }
}
@media (max-width: 1400px){
    .form_pg{
        margin: 0% 23% 0% 23%;
    }
    .form{
        margin-right: 21%;
    }
}
.vermelho{
    color: red;
}
/* --------------------------------------carrinho---------------------------------*/
.body_car{
    margin: 0;
    display: grid;
    grid-template-areas: 
    "cabe"
    "cart"
    "roda";
    font-family: 'Quicksand', sans-serif;
}
.carri{
    background-color: #043653;
    margin: 0% 15% 0% 15%;
    padding: 1rem;
    border-radius: 5rem;
    box-shadow: 4px 4px 4px #2E8BC0;
    border: 1px solid #B1D4E0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.carri section{
    margin-top: 1.4rem;
    margin-left: 5rem;
}
.carri section h1{
    color: #B1D4E0;
    text-align: center;
}
.finalizar{
    width: 24rem;
    margin-right: 4rem;
    padding: 1rem;
    color: #B1D4E0;
    text-align: center;
}
.finalizar a{
    text-decoration: none;  
    color: #B1D4E0;
}
.finalizar .finalizar_carri{
    border: 3px solid #B1D4E0;
    background-color: rgb(0, 116, 228);
    padding: 1.5rem;
    border-radius: 1rem;
}
.finalizar .finalizar_carri:hover{
    background-color: #2E8BC0;
    border: 3px solid black;
}
.finalizar .cancela_carri:hover{
    background-color: #2e8bc05d;
    border: 3px solid black;
}
.finalizar .cancela_carri{
    border: 3px solid #B1D4E0;
    padding: 1.5rem;
    border-radius: 1rem;
}
.finalizar h1{
    margin-top: 3rem;
}
.total{
    color: #2e8b;
}
.produto_compre{
    border: 1px solid #B1D4E0;
    border-radius: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    background-color: #0c2d48;
    color: #B1D4E0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 4px #2E8BC0;
    cursor: cell;
}
.descr_carri input{
    background-color: #303030;
    font-size: 90%;
    color: #B1D4E0;
    border-radius: 0.7rem;
    width: 3rem;
    height: 1rem;
    padding: 0.4rem;
    border: #B1D4E0 solid 3px;
}
.carri_tudo{
    display: flex;
    gap: 9px;
}
.produto_compre img{
    width: auto;
    height: 10rem;
    border-radius: 0.3rem;
}
.body_car header{
    grid-area: cabe;
}
.body_car main{
    grid-area: cart;
    background-color: #0c2d48;
}
.body_car footer{
    grid-area: roda;
}
.lixo img{
    width: auto;
    height: 3rem;
    margin-top: 0.4rem;
    margin-right: 10px;
    cursor: pointer;
}
.lixo img:hover{
    filter: invert(77%);
}
.lixo{
    display: flex;
    align-items: end;
}
@media (max-width: 800px){
    .carri section{
        margin: 0;
    }
    .produto_compre{
        margin-left: 0;
    }
    .carri{
        margin: 0;
        padding: 0;
    }
    .finalizar{
        margin: 0;
    }
}
@media (max-width: 500px){
    .carri{
        background-color: #0c2d48;
        border: none;
        margin: 0;
        box-shadow: none;
    }
    .produto_compre{
        background-color: #043653;
    }

}
@media (max-width: 900px){

}
/* ------------------------------------Aside Mobile---------------------------- */
.aside_mob select{
    background-color: #303030 ;
    text-align: center;
    font-size: 150%;
    color: #B1D4E0;
    display: none;
    margin: auto;
    padding: 0.3rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px  #2E8BC0;
}
.aside_mob option{
    font-size: 120%;
    color: #B1D4E0;
}
@media (max-width: 900px){
    .aside_mob select{
        display: block;
    }
}