/* #303030, #0C2D48, #2E8BC0, #B1D4E0*/
body{
    display: grid;
    grid-template-areas: 
    "head head head"
    "asid main main"
    "foot foot foot";
    background-color: #303030;
    margin: 0;
    padding: 0;
    color: #B1D4E0;
}
.grid_h{
    grid-area: head;
    background-color: #0C2D48;
}
.grid_a{
    grid-area: asid;
    background-color: azure;
}
.grid_m{
    grid-area: main;
    background-color: #2E8BC0;
}
.grid_f{
    grid-area: foot;
    background-color: blue;
}
/* ----------------------------Header--------------------------------- */
.galaxy{
    display: flex;
    align-items: center;
}
.galaxy h1{
    padding-left: 10px;
    font-family: 'Carter One', cursive;
    text-shadow: 
    -1px -1px 0px #2E8BC0, 
    -1px 1px 0px #2E8BC0,      
     1px -1px 0px #2E8BC0,    
     1px 0px 0px #2E8BC0;
}
.galaxy a{
    text-decoration: none;
}
.galaxy img{
    width: 5rem;
}
header nav{
    display: inline-flex;
}